/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
/externs/

src/juansworld/env.cljs
firebase.json
database.rules.json
.firebaserc
.lein-env
